@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Judson', 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
}

#logout-btn:hover {
  background-color: #ffffff;
  color: green;
}
